tensorflow>=2.12.0
numpy>=1.23.5
pandas>=1.5.3
scikit-learn>=1.2.2
yfinance>=0.2.18
matplotlib>=3.7.1
seaborn>=0.12.2
scipy>=1.10.1
joblib>=1.2.0
Flask>=2.3.2
Flask-SocketIO>=5.3.4
flask-cors>=3.0.10
python-socketio>=5.8.0
python-engineio>=4.4.1
Werkzeug>=2.3.4
structlog>=23.1.0
python-dotenv>=1.0.0
black>=23.3.0
pylint>=2.17.3
pytest>=7.3.1 
pydantic>=2.5.2
redis>=4.5.4
eventlet>=0.31.0